/* color-theme-variables */

/* main-color */
$main-color:             #F0FAE9;

/* editor-color-theme */
$editor-back:            #C1ECA2;
$editor-header:          #AFE686;
$editor-button:          #93DD5C;

/* question-color-theme */
$question-body:          #DFF9FB;
$question-header:        #C7ECEE;

/* box-shadow */
$box-shadow:             #888888;

/* h-black */
$h-black:                #1A1A1A;